<!DOCTYPE html>
<html>
<head>
    <title>Python vs Go</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
</head>
<body>
    <h1 class="text-4xl font-bold text-slate-800 text-center bg-slate-500">Golang Requests</h1>
    <div class="min-h-screen flex items-center justify-center bg-slate-500">
        <!-- Container for the two columns -->
        <div class="container mx-auto p-6 bg-slate-300 shadow-lg rounded-lg flex">
            <!-- First Column (20% width) -->
            <div class="w-1/5 p-6 flex flex-col items-center">
                <h2 class="text-3xl font-semibold text-slate-800 mb-4 text-center">Query</h2>
                <button class="bg-blue-800 hover:bg-blue-700 hover:scale-105 hover:duration-200 text-slate-300 font-bold py-2 px-4 rounded-lg"
                        hx-get="/queries?id=1"
                        hx-target="#target"
                        hx-swap="innerhtml">
                        Select All</button>
                <button class="bg-green-800 hover:bg-green-700 hover:scale-105 hover:duration-200 text-slate-300 font-bold py-2 px-4 rounded-lg mt-4"
                        hx-get="/queries?id=2"
                        hx-target="#target"
                        hx-swap="innerhtml">
                        Select Conditional</button>
                <button class="bg-slate-800 hover:bg-slate-700 hover:scale-105 hover:duration-200 text-slate-300 font-bold py-2 px-4 rounded-lg mt-4"
                        hx-get="/queries?id=3"
                        hx-target="#target"
                        hx-swap="innerhtml">
                        Clear</button>
            </div>
            <!-- Second Column (80% width) -->
            <div class="w-4/5 p-6">
                <h2 class="text-3xl font-semibold text-slate-900 mb-4 text-center">Response</h2>
                <table class="table-auto w-full border border-collapse text-center" id="target">
                    <thead>
                        <tr>
                            <th class="px-4 py-2 border border-slate-600">Username</th>
                            <th class="px-4 py-2 border border-slate-600">Account Creation Date</th>
                            <th class="px-4 py-2 border border-slate-600">Follower Count</th>
                            <th class="px-4 py-2 border border-slate-600">Post Count</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
